:root {
  --wrapper-border-radius: 12px;
  --wrapper-padding: 12px;
  --wrapper-background-color: #e0e0e0;

  --circle-width: 30px;
  --circle-radius: calc(var(--circle-width) / 2);
  --circle-border-width: 4px;
  --circle-bottom-margin: 8px;
  --circle-font-size: 24px;

  --selected-background-color: #b368d6;

  --divider-line-height: 4px;

  --product-offering-height: 40px;
  --product-offering-padding: 12px;
  --product-offering-vertical-margin: 12px;
  --product-offering-border-radius: 8px;
  --product-offering-left-border-size: 5px;

  --label-left-margin: 4px;
  --blue-product-color: #626ee3;
  --red-product-color: #890023;
  --orange-product-color: #f37f1b;
  --green-product-color: #11967e;

  --button-padding: 12px;
  --button-font-size: 16px;
  --button-border-radius: 8px;
  --button-background-color: #02203c;
}

/*  Write your code here. */

/* Delete this ruleset. */
#wrapper {
  padding: var(--wrapper-padding);
  border-radius: var(--wrapper-border-radius);
  background-color: var(--wrapper-background-color);
}

ol {
  display: flex;
  padding: 0;
}

li {
  list-style-type: none;
}

ol li {
  position: relative;
  text-align: center;
  flex-basis: 100%;
  counter-increment: stepper-items;
}

ol li::before {
  content: counter(stepper-items);
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--circle-width);
  height: var(--circle-width);
  border-radius: 50%;
  border: var(--circle-border-width) solid black;
  background-color: white;
  font-size: var(--circle-font-size);
  margin: 0 auto var(--circle-bottom-margin) auto;
}
ol li:not(:first-of-type)::after {
  content: "";
  display: block;
  width: calc(100% - var(--circle-width));
  height: var(--divider-line-height);
  background-color: black;
  position: absolute;
  left: calc(-50% + var(--circle-radius));
  top: calc(
    var(--circle-radius) + var(--circle-border-width) -
      var(--divider-line-height) / 2
  );
}

ol li.selected::before {
  background-color: var(--selected-background-color);
  color: white;
}

ul {
  padding: 0;
}

ul li {
  display: flex;
  align-items: center;
  padding: 12px;
  height: 40px;
  border-radius: 8px;
  background-color: white;
  font-weight: bold;
  margin: 12px 0;
}
ul li label {
  margin-left: 4px;
}
ul li.blue-product {
  color: #e3d262;
  border-left: 5px solid #e3d262;
}
ul li.red-product {
  color: #db063b;
  border-left: 5px solid #ca0133;
}
ul li.orange-product {
  color: #860f30;
  border-left: 5px solid #862252;
}
ul li.green-product {
  color: #419f8e;
  border-left: 5px solid #11967e;
}

button {
  font-size: var(--button-font-size);
  background-color: var(--button-background-color);
  color: white;
  padding: var(--button-padding);
  border-radius: var(--button-border-radius);
  display: block;
  margin-left: auto;
}
